{% block header %}{% include 'header.html' %}{% endblock %}
							<!-- Content -->
                            <section>
								<!-- Based on https://medium.com/retainable/how-to-embed-medium-on-your-website-the-easy-way-41ac0a13231e -->
								<!-- TODO: Add my feed after the first publication -->
                                <div id="retainable-rss-embed" 
								data-rss="https://medium.com/feed/retainable"
								data-maxcols="3" 
								data-layout="grid" 
								data-poststyle="inline" 
								data-readmore="Read" 
								data-buttonclass="btn btn-primary" 
								data-offset="-100"></div>
                            </section>
						</div>
					</div>
{% block footer %}{% include 'footer.html' %}{% endblock %}
