{% include 'header.html' %}
<!-- data.-->
<section>
	<div class="row gtr-200">
		<div class="col-3 col-12-medium">
			<span class="image">
				<img src="{{ data.photo }}" alt="" />
			</span>
		</div>
		<div class="col-4 col-12-medium">
			<h4>Personal & Professional Informations</h4>
			{% for p in data.personal_info -%}
			<p>{{ p }}</p>
			{%- endfor %}
		</div>
		<div class="col-5 col-12-medium">
			<h4>Contacts</h4>
			<ul>
				{% for li in data.contacts -%}
				<li>{%- if li.link is defined -%}<a href="{{ li.link }}">{%- endif -%}{{ li.text | default(li) }}{%- if li.link is defined -%}</a>{%- endif -%}</li>
				{%- endfor %}
			</ul>
			<h4>Certificates &amp; Courses</h4>
			<ul>
				{% for li in data.certificates -%}
				<li>{{ li.name }} (<a href="{{ li.link | default('#') }}">Link</a>)</li>
				{%- endfor %}
			</ul>
		</div>
	</div>
	<br /><br /><br /><br /><br />
	<hr class="major" />
	<h3>Working experience</h3>
	{%- for div in data.experience %}
	<div class="row">
		<div class="col-9 col-12-medium">
			<h4>{{ div.company }}</h5>
		</div>
		<h4>{{ div.term }}</h5>
	</div>
	<div class="box">
		<ul>
			{%- for li in div.highlights %}
			<li>{{ li }}</li>
			{% endfor -%}
		</ul>
		<b>
			<ul class="icons">
				{%- for li in div.tags %}
				<li>{{ li }}</li>
				{% endfor -%}
			</ul>
		</b>
	</div>
	{% endfor -%}
	<hr class="major" />
	<h3>Education</h3>
	<ul>
		{% for li in data.education -%}
		<li><b>{{ li.term }}</b>> {{ li.name }}</li>
		{%- endfor %}
	</ul>
</section>
</div>
</div>
{% include 'footer.html' %}
