<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">
        <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>
                <ul>
                    {%- for item in menu %}
                    {%- if item.page is defined %}
                    <li><a href="{{ item.page }}">{{ item.name | title }}</a></li>
                    {%- elif item.pages is defined and item.pages | length > 0 %}
                    <li>
                        <span class="opener">{{ item.name | title }}</span>
                        <ul>
                            {% for page in item.pages -%}
                            <li><a href="{{ page.page }}">{{ page.name | title }}</a></li>
                            {%- endfor %}
                        </ul>
                    </li>
                    {% endif -%}
                    {% endfor -%}
                </ul>
            </nav>
        <!-- Section -->
        <section>
            <header class="major">
                <h2>Get in touch</h2>
            </header>
            <p>I'd be really happy to get in touch with you via any of the channels below.</p>
            <ul class="contact">
                <li class="icon brands solid fa-telegram"><a href="tg://resolve?domain=AliaksandrDounar">@AliaksandrDounar</a></li>
                <li class="icon brands solid fa-github"><a href="https://github.com/DovnarAlexander">DovnarAlexander</a></li>
            </ul>
        </section>
        <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; Alexander Dovnar personal site. All rights reserved. Site design: <a href="https://html5up.net">HTML5 UP</a>.</p>
            </footer>
    </div>
</div>
</div>
<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
{% if name == "blog.html" %}
<script src="https://www.retainable.io/assets/retainable/rss-embed/retainable-rss-embed.js"></script>
{% endif %}
</body>
</html>