{% block header %}{% include 'header.html' %}{% endblock %}
							<!-- Content -->
                            <section>
                                {% for item in data -%}
                                {% set type = item.style|default(item) %}
                                {% if type == "box" -%}
                                <div class="box">
                                    <p>{{ item.text }}</p>
                                </div>
                                {% elif type == "code" %}
                                <pre><code>{{ item.text }}</code></pre>
                                {% elif type == "blog" %}
                                <div class="posts">
                                    <article>
                                        <a href="{{ item.name }}.html" class="image"><img src="{{ item.image }}" alt="" /></a>
                                        <h4>{{ item.name }}</h4>
                                        <p>{{ item.intro }}</p>
                                        <ul class="actions">
                                            <li><a href="{{ item.name }}.html" class="button">Read</a></li>
                                        </ul>
                                    </article>
                                </div>
                                {% else %}
                                <{{ item.style}}>{{ item.text | default("") }}</{{item.style }}>
                                {% endif %}
                                {%- endfor %}
                            </section>
						</div>
					</div>
{% block footer %}{% include 'footer.html' %}{% endblock %}
